<?xml version="1.0" encoding="utf-8"?>
  <connectionStrings>
    <add name="ConnStr" connectionString="server=SKYASPNET-PC\SQLEXPRESS;database=USTA;uid=sa;pwd=111111@111;Pooling=true;MAX Pool Size=512;Min Pool Size=50;Connection Lifetime=60"
         providerName="System.Data.SqlClient" />
    <add name="ConnStrSSEDB" connectionString="server=XXX-PC;database=SSEDBNew;uid=sa;pwd=222222;Pooling=true;MAX Pool Size=512;Min Pool Size=50;Connection Lifetime=60"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
