<?xml version="1.0" encoding="utf-8"?>
  <connectionStrings>
    <add name="ConnStr" connectionString="server=127.0.0.1\MSSQLSERVER2008;database=USTA;uid=sa;pwd=123@test;Pooling=true;MAX Pool Size=512;Min Pool Size=50;Connection Lifetime=60"
         providerName="System.Data.SqlClient" />
    <add name="ConnStrSSEDB" connectionString=""
  providerName="System.Data.SqlClient" />
  </connectionStrings>
