<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet  rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="index.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <add name="parentList" virtualUrl="~/parentlist/f(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/parentList.aspx?fid=$1" ignoreCase="true" />
    <add name="childList" virtualUrl="~/childList/f(\d+)c(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/childList.aspx?fid=$1&amp;cid=$2" ignoreCase="true" />
    <add name="childListPage" virtualUrl="~/childList/f(\d+)c(\d+)p(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/childList.aspx?fid=$1&amp;cid=$2&amp;page=$3" ignoreCase="true" />
    <add name="showAspx" virtualUrl="~/(\d+)-(\d+)-(\d+)/f(\d+)c(\d+)i(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/show.aspx?fid=$4&amp;cid=$5&amp;id=$6" ignoreCase="true" />
    <add name="pageAspx" virtualUrl="~/(\d+)-(\d+)-(\d+)/f(\d+)c(\d+)i(\d+)p(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/show.aspx?fid=$4&amp;cid=$5&amp;id=$6&amp;page=$7" ignoreCase="true" />
  </rewrites>
</urlrewritingnet>
