<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="FCKeditor:UserFilesPath" value="/UploadImages/" />
  <add key="FCKeditor:TempUploadPicPath" value="/temp/" />
  <add key="FCKeditor:NormalWidth" value="850" />
  <add key="UploadFilesPath" value="/UploadFiles/" />
  <add key="InitializePasswordExcelPath" value="/Administrator/ExcelPasswordMapping/" />
  <add key="ScoreExcelPath" value="/Teacher/ScoreExcel/" />
  <add key="EnglishExamSignUpExcel" value="/Teacher/EnglishExamSignUpExcel/" />
  <add key="AllGradeCheckExcel" value="/Administrator/GradeCheckExcel/" />
  <add key="GradeCheckExcel" value="/UploadFiles/GradeCheckExcel/" />
  <add key="GradeCheckApplyExcel" value="/Administrator/GradeCheckApplyExcel/" />
  <add key="ExamSeatArrangeExcel" value="/Administrator/ExamSeatArrangeExcel/" />
  <add key="GradeCheckImportExcel" value="/Administrator/GradeCheckImportExcel/" />
  <!--邮件模板文件路径-->
  <add key="EmailTemplate" value="/Config/EmailTemplate/" />
  <!--每次邮件发送操作间隔-->
  <add key="cardType" value="身份证|1,军官证|2" />
  
  <add key="DataBaseBakPath" value="/Administrator/DataBaseBak/"/>
  <!--以下为上传文件子目录的具体配置-->
  <add key="adminNotify" value="AdminNotify/" />
  <add key="archives" value="Archives/" />
  <add key="bbs" value="Bbs/" />
  <add key="courseNotify" value="CourseNotify/" />
  <add key="courseResources" value="CourseResources/" />
  <add key="emailAttachments" value="EmailAttachments/" />
  <add key="experimentResources" value="ExperimentResources/" />
  <add key="experiments" value="Experiments/" />
  <add key="schoolWorks" value="SchoolWorks/" />
  <!--格式限定-->
  <add key="fileExtension" value=".pdf|.bmp|.gif|.jpg|.jpeg|.png|.svg|.doc|.ppt|.xls|.docx|.pptx|.xlsx|.rar|.zip|.txt|.mp3|.wav|.wma|.swf|.flv|.rmvb|.rm|.avi|.wmv|.asf|.mov|.tar|.tar.bz2|.tar.gz|.tgz" />
  <!--图像格式限定-->
  <add key="imageFileExtension" value=".bmp|.gif|.jpg|.jpeg|.png" />
  <!--上传文件大小限制，单位：MB-->
  <add key="uploadFileLimit" value="50MB"/>
  <!--分页大小-->
  <add key="pageSize" value="10"/>
  <!--ErrorPage-->
  <add key="errorPage" value="~/Common/Error.aspx"/>
  <!--设置new的时间限制（天数）-->
  <add key="newDays" value="3"/>
  <!--设置系统邮件发送者-->
  <add key="mailauthor" value="中科大教学辅助系统"/>
  <!--课程讨论区有新话题时邮件标题说明内容-->
  <add key="courseTopicEmailTitle" value="您好，您所管理的课程讨论区有新的话题发表，请查看！"/>
  <!--课程讨论区有新回复时邮件标题说明内容-->
  <add key="coursePostEmailTitle" value="您好，您所管理的课程讨论区有新的回复，请查看！"/>
  <!--教学系统简称-->
  <add key="briefSysName" value="中科大教学辅助系统" />
  <!--教学系统域名-->
  <add key="sseaDomain" value="http://ssea.ustcsz.edu.cn:443/" />
  <!--中科大教务处网址-->
  <add key="jwcUrl" value="http://www.teach.ustc.edu.cn/index.asp" />
  <!--中科大软件学院信息系统网址-->
  <add key="sseweb" value="http://enroll.sse.ustc.edu.cn/sseweb/" />
  <!--以下是全局的CSS和JS文件名配置信息-->
  <add key="commonJS" value="../javascript/common.js?ver=5.0" />
  
  <add key="mainCSS" value="../css/main.css?ver=5.0" />
  
  <add key="uploadJS" value="../javascript/upload/upload.js?ver=5.0" />
  
  <add key="thickboxJS" value="../javascript/thickbox.js?ver=5.0" />
  
  <!--全局的CSS和JS文件名配置信息结束-->

  <add key="mongoDBConfig" value="mongodb://127.0.0.1:44123" />

  <!--一次最多取出发送邮件的条数-->
  <add key="maxSendEmailNum" value="5" />
  <!--每次邮件发送操作间隔-->
  <add key="maxSendEmailTimeElapse" value="50000" />
  <!--SESSION名称-->
  <add key="sessionKey" value="SSEA2011" />
</appSettings>