<?xml version="1.0"?>
<!-- 
		注意: 除了手动编辑此文件以外，您还可以使用 
		Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
		 “网站”->“Asp.Net 配置”选项。
		设置和注释的完整列表在 
		machine.config.comments 中，该文件通常位于 
		\Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<configSections>
		<!--Combres库配置部分-->
		<section name="combres" type="Combres.ConfigSectionSetting, Combres, Version=2.0.0.0, Culture=neutral, PublicKeyToken=49212d24adfbe4b4"/>
		<section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
	</configSections>
	<urlrewritingnet configSource="config\rewriteUrl.config"/>
	<connectionStrings configSource="config\base.config"/>
	<combres definitionUrl="~/App_Data/StaticResources.xml"/>
	<appSettings configSource="config\static.config"/>

	<system.web>
		<!-- 
						设置 compilation debug="true" 可将调试符号插入
						已编译的页面中。但由于这会 
						影响性能，因此只在开发过程中将此值 
						设置为 true。
				-->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
	</compilation>
		<!--
						通过 <authentication> 节可以配置 ASP.NET 用来 
						识别进入用户的
						安全身份验证模式。 
				-->
		<!--<authentication mode="Forms">
			<forms loginUrl="http://enroll.sse.ustc.edu.cn/sseweb/" path="/" protection="All" name="SSEA2010" timeout="1440" requireSSL="false"></forms>
		</authentication>-->
		<!--<authorization>
			<deny users="?"/>
		</authorization>-->
		<!--
						如果在执行请求的过程中出现未处理的错误，
						则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
						开发人员通过该节可以配置
						要显示的 html 错误页
						以代替错误堆栈跟踪。

				<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
						<error statusCode="403" redirect="NoAccess.htm" />
						<error statusCode="404" redirect="FileNotFound.htm" />
				</customErrors>
				-->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="1440"></sessionState>
		<customErrors mode="RemoteOnly" defaultRedirect="~/Common/Error.aspx">
            <error statusCode="404" redirect="404.htm"></error>
		</customErrors>
		<trace enabled="false"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN"/>
		<!--单位:KB-->
		<httpRuntime maxRequestLength="55000" executionTimeout="720" requestValidationMode="2.0" requestPathInvalidCharacters=""/>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Routing"/>
				<add namespace="Combres"/>
			</namespaces>
		</pages>
		<webServices>
			<protocols>
				<add name="HttpSoap"/>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
				<add name="Documentation"/>
			</protocols>
		</webServices>
	</system.web>
	<!-- 
				在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
				节。对早期版本的 IIS 来说则不需要此节。
		-->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<!--此处为自定义HttpModule，用于验证用户权限-->
			<!--<add name="USTA.BaseHttpModule" type="USTA.BaseHttpModule.BaseHttpModuleControl,USTA.BaseHttpModule"></add>-->
			<!-- Remove unnecessary Http Modules for faster pipeline -->
			<remove name="WindowsAuthentication"/>
			<remove name="PassportAuthentication"/>
			<remove name="AnonymousIdentification"/>
		</modules>
		<handlers>
			<!--<add verb="*" path="/Administrator/DataBaseBak/*.rar" type="USTA.BaseHttpHandler.BaseHttpHandlerControl,USTA.BaseHttpHandler"/>-->
		</handlers>
		<defaultDocument>
			<files>
				<clear/>
				<add value="Common/NotifyList.aspx"/>
				<add value="index.htm"/>
				<add value="index.html"/>
				<add value="BBSCoursesindex.aspx"/>
				<add value="Courses.aspx"/>
			</files>
		</defaultDocument>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.htm" responseMode="ExecuteURL"  />
    </httpErrors>
	</system.webServer>
	<!--<location path="Administrator">
		<system.web>
			<authorization>
				<allow roles="0"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Teacher">
		<system.web>
			<authorization>
				<allow roles="1,2"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Student">
		<system.web>
			<authorization>
				<allow roles="3"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>-->
	<!--<location path="Common,bbs">
		<system.web>
			<authorization>
				<deny users="?"></deny>
			</authorization>
		</system.web>
	</location>-->
	<!--<location path="FCKeditor_2.6.4.1">
		<system.web>
			<authorization>
				<allow roles="0,1,2,3"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>-->
	<!--<location path="CheckUser.aspx">
		<system.web>
			<authorization>
				<allow users="*"></allow>
			</authorization>
		</system.web>
	</location>-->
  <!--<location path="Teacher/OutputEnglishExamSignUpExcel.ashx">
    <system.web>
      <authorization>
        <allow roles="0,1,2"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
	<!--<location path="WebServices/WebServicesAboutGetTimeStamp.asmx">
		<system.web>
			<authorization>
				<allow users="*"></allow>
			</authorization>
		</system.web>
	</location>-->
</configuration>
