<?xml version="1.0" encoding="utf-8"?>
<EmailConfig>
  <type>4</type>
  <title><![CDATA[四六级通知邮件标题与当前四六级通知标题相一致，无需修改]]></title>
  <!--是否可以修改-->
  <isModify>1</isModify>
  <content><![CDATA[<p>	dfsafsaf</p><p>	<br /></p><p>	fdsaf</p><p>	<br /></p><p>	<br /></p><p>	fdsafdsaf</p>]]></content>
</EmailConfig>